In [1]:
import pandas as pd

data = [
["Alaska","Los Angeles","on_time",497],
["Alaska","Los Angeles","delayed",62],
["Alaska","Phoenix","on_time",221],
["Alaska","Phoenix","delayed",12],
["Alaska","San Diego","on_time",212],
["Alaska","San Diego","delayed",20],
["Alaska","San Francisco","on_time",503],
["Alaska","San Francisco","delayed",102],
["Alaska","Seattle","on_time",1841],
["Alaska","Seattle","delayed",305],
["AM West","Los Angeles","on_time",694],
["AM West","Los Angeles","delayed",117],
["AM West","Phoenix","on_time",4840],
["AM West","Phoenix","delayed",415],
["AM West","San Diego","on_time",383],
["AM West","San Diego","delayed",65],
["AM West","San Francisco","on_time",320],
["AM West","San Francisco","delayed",129],
["AM West","Seattle","on_time",201],
["AM West","Seattle","delayed",61]
]

df = pd.DataFrame(data, columns=["airline","city","status","count"])

df.to_csv("airline_delays.csv", index=False)

df.head()

  airline         city   status  count
0  Alaska  Los Angeles  on_time    497
1  Alaska  Los Angeles  delayed     62
2  Alaska      Phoenix  on_time    221
3  Alaska      Phoenix  delayed     12
4  Alaska    San Diego  on_time    212

In [2]:
summary = df.pivot_table(
    index='airline',
    columns='status',
    values='count',
    aggfunc='sum'
)

summary['total'] = summary['on_time'] + summary['delayed']
summary['delay_rate'] = summary['delayed'] / summary['total']

summary

status   delayed  on_time  total  delay_rate
airline
AM West      787     6438   7225    0.108927
Alaska       501     3274   3775    0.132715

In [3]:
city_summary = df.pivot_table(
    index=['airline','city'],
    columns='status',
    values='count',
    aggfunc='sum'
)

city_summary['total'] = city_summary['on_time'] + city_summary['delayed']
city_summary['delay_rate'] = city_summary['delayed'] / city_summary['total']

city_summary

status                 delayed  on_time  total  delay_rate
airline city
AM West Los Angeles        117      694    811    0.144266
        Phoenix            415     4840   5255    0.078972
        San Diego           65      383    448    0.145089
        San Francisco      129      320    449    0.287305
        Seattle             61      201    262    0.232824
Alaska  Los Angeles         62      497    559    0.110912
        Phoenix             12      221    233    0.051502
        San Diego           20      212    232    0.086207
        San Francisco      102      503    605    0.168595
        Seattle            305     1841   2146    0.142125

  When I first looked at the overall delay rates, AM West appeared to perform better than Alaska because it had a lower percentage of delayed flights when all destinations were combined. At first glance, this would look that AM West is the more reliable airline. However, after breaking the data down by individual city, I noticed that Alaska actually had lower delay rates in most of the destinations. This seemed contradictory at first, but the difference is explained by how the flights are distributed. AM West operates many flights in Phoenix, which has relatively low delay rates, while Alaska operates more flights in cities like Seattle, where delays are more common. Because of this uneven distribution, the overall average makes AM West look better even though Alaska performs better in most individual cities. This is a clear example of Simpsonâ€™s Paradox and shows why it is important to analyze grouped data before drawing conclusions from overall totals.